
a, a:hover, a:focus, a:active {
	color: #444;
	text-decoration: none;
	-webkit-transition: all 0.5s ease-in-out;
	-khtml-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}